cloud_id                 = "some_id"
folder_id                = "some_id"
zone                     = "ru-central1-a"
image_id                 = "some_id"
public_key_path          = "/some/path"
subnet_id                = "some_id"
service_account_key_file = "/key.json"
private_key_path         = "/some/path"
